<?xml version="1.0" encoding="UTF-8" ?>
<launch>
        <!-- overwriting these args -->
        <arg name="debug" default="false" />
        <arg name="gui" default="true" />
        <arg name="pause" default="false" />

        <arg name="x_pos" default="0.0"/>
        <arg name="y_pos" default="0.0"/>
        <arg name="z_pos" default="0.0"/>

        <arg name="map_file" default="$(find factory_sim)/maps/lowres_map.yaml"/>

        <node name="costmap_generator" pkg="factory_sim" type="costmap_generator" output="screen">
                <rosparam file="$(find factory_sim)/config/costmap_params.yaml" command="load" ns="costmap/obstacles" />
        </node>

        <!-- Map server -->
        <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

        <node pkg="tf" type="static_transform_publisher" name="sensor_link_broadcaster" args="0 0 0 0 0 0 world map 100" />
        <node pkg="rviz" type="rviz" name="rviz" required="true"
                args="-d $(find factory_sim)/rviz/costmap.rviz"/>
</launch>
